<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="icon" href="/images/jellyfish2.jpg">
    <link rel="stylesheet" href="./CSS/style.css">

</head>
<body>
    <div class="main">
        {{>header}}
        <p> {{name}}, meet our team! </p>
        <img class="profile" src="./images/jellyfish.jpg" alt="an image of a jellyfish">
    </div>
    {{>footer}}



</body>
</html>